[submodule "guiding_eurydice_core"]
	path = guiding_eurydice_core
	url = https://github.com/beadface-tess/guiding-eurydice-core.git
[submodule "guiding_eurydice_levels"]
	path = guiding_eurydice_levels
	url = git@github.com:beadface-tess/guiding-eurydice-levels.git
